body{
    margin : 0px 0px 0px 0px;
}

p{
    font-family: 'LibreBaskerville-Regular', serif;
}

h1{
    font-family: 'LibreBaskerville-Bold', serif;
    color: #ffffff;
    display: inline-block;
}

li{
    list-style-type: none;
}

button{
    border: none;
    background-color: #ffffff;
    width: 7em;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    float: right;
    display: inline-block;
}

button:hover {
    background-color: #CC3A4B; /* Green */
    color: white;
}

fieldset{
    border: none;
    margin: 1em;
    height: 30em;
    -webkit-box-shadow: 5px 5px 5px 5px #193441;
    box-shadow: 5px 5px 5px 5px #193441;
}

section #title, #charts{
    background-color: #193441;
}

img{
    height: 100%;
    width: 600px;
    margin-top: 0.1em;
}

#addBoxButton{
    border: none;
    width: 7em;
    float: left;
}

#wbtDiagram{
    border: solid;
    border-color: #3A9DCC;
    height: 100%;
}

#Logo{
    margin : 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 174.5px;
}

#content{
    width: 100%;
    margin : 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#drag{
    border: solid;
    border-color: #3A9DCC;
    width: 10em;
    height: auto;
}

@font-face{
    font-family: LibreBaskerville-Regular;
    src: url(fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf)
}

@font-face{
    font-family: LibreBaskerville-Italic;
    src: url(fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf)
}

@font-face{
    font-family: LibreBaskerville-Bold;
    src: url(fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf)
}